                        /*gerale*/
@import url(https://fonts.googleapis.com/css?family=Sansita+One);
*{
    margin:0px;
    box-sizing: border-box;
}

html, body{
    padding:0px;
    margin:0px;
    line-height: 1.5;
}
a{
    text-decoration: none;
    color: #fff;
}

div{
    display: block;
}

                        /*header*/

.header{
    background-color: rgba(0, 0, 0, 0);
    height: 120px;
    position: fixed;
    width: 100%;
    z-index: 2;   
}
.header .logo{
    color: #fff;
    font-size: 65px;
    margin-left: 60px;
    margin-top: 30px;
    width: 50%;
    float: left;
    text-shadow: 1px 1px 2px black, 0 0 5px blue, 0 0 5px darkblue;
}
.logo a{
    font-family: 'Monoton';
}
.logo a:hover{
    border-bottom: 5px solid #fff;
    padding-bottom: 10px;
}
.roler{
    float: right;
    margin-top: 73px;
    margin-right: 0px;
    font-size: 25px;    
}

.roler a{
    font-size: 27px;
    margin-right: 43px;
    text-shadow: 1px 1px 2px black, 0 0 5px blue, 0 0 5px darkblue;
}
.roler a:hover{
    border-bottom: 3px solid #fff;
    padding-bottom: 20px;
}
.modal{
    position: fixed; 
    z-index: 3;
    left: 0px;
    top: 0px;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.7); 
    padding-top: 60px;
    box-shadow: 5px 5px 10px black, 0 0 10px blue, 0 0 10px darkblue;
}

.window{
    display: inline-block;
    position: relative;
    width: 80%;
    height: 60%;
    background-color: #fefefe;
    margin-left:150px;
    margin-top: 100px;
    border: black solid 5px;
}


.modal-left{
    display: block;
    position: absolute;
    width: 50%;
    height: 96%;
    border-right: black solid 2px;
    padding: 10px;
}

.membres{
    padding-bottom:0px ;
    border-bottom: 4px solid black;
    text-align: center;
}
.modal-left h1{
   /* text-shadow: 1px 1px 2px black, 0 0 5px blue; */

}
.valider{
    width :auto;
}
.form-connexion{
    margin-top: 30px;
    margin-left: 40px;
}
.valider input{
    background-color: rgb(16, 68, 150);
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.champs  button{
    margin-left: 264px;
    margin-top: 40px;
    text-align: center;
    width: 100px;
    font-size: 17px;
}
.form-connexion form{
    margin-right: 35px;
}
.form-connexion input[type=email],.form-connexion input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.sinscrire input{
    background-color: rgb(16, 68, 150);
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    cursor: pointer;
    width: 92%;
}


.modal-right{
    height: 100%;
    width: 50%;;
    float: right;
    padding: 10px;
    padding-left: 50px;
}


.inscription h1{
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 5px blue;
    border-bottom: 4px solid black;
}


.modal-right p {
    margin-right: 7px;
    margin-top: 70px;
    margin-right: 10px;
}
.modal-right-text{
    height: 154px;
}
.modal-right button {
    background-color: rgb(16, 68, 150);
    color: white;
    padding: 14px 20px;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    cursor: pointer;
    width: 92%;
}

.inscription_right{
    width : 50%;
    float : right;


}
.inscription_left {
    float : left;
    width: 50%;
}

.inscription input[type=email], input[type=text], input[type=password] {
    width: 92%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


img{
    max-width: 100%;
    height: auto;
    z-index: 1;
}
.block{
    position: relative;
}
.banner{
    margin-top: -25px;
}
.banner img::after{
    content: "";
    position: relative;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 18;
}
.img{
    height: 780px;
}
.banner .banner-image{
    position: relative;
}
.banner .banner-content{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 30%;
    z-index: 1;
}
.banner .banner-content h1{
    font-size: 50px;
}
.banner .banner-content h1,
.banner .banner-content h2{
    color: #ffffff;
    text-shadow: 1px 1px 2px black, 0 0 5px blue, 0 0 5px darkblue;

}
.big-button {
    position: relative;
    background-color:#46e7f0;
    color: #000000;
    font-family: 'Sansita One';
    font-size: 23px;
    font-weight: 500;
    
    margin: 10px auto;
    padding: 20px;
    height: 150px;
    width: 300px;
    text-decoration: none;

    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;    
    
    margin : 50px auto;
    border-color :darkslateblue;
    border-width: 10px;
    border-radius: 100px 100px 100px 100px;
    padding: 20px;
    border-radius: 30px;
    transition-timing-function: ease-out;
}

.big-button:active {
    box-shadow: 0px 3px 0px #35CCCC33, 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    margin-top: 10px;
}
.big-button:hover{
    cursor: pointer;
    opacity: 0.8;
}

                        /*contenu*/            

.contenu{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 150px;
    position: relative;
    height: 100%;
}
.contenu p{
    font-size: 20px;
    font-weight: 500;
}

.part1{
    width: 100%;
    height: 500px;
    position: relative;
    display: block;
}

.image1 img{
margin-left: 40px;
margin-top: 100px;
height: 400px;
position: absolute;
animation-duration: 1.5s;  
animation-delay: 0s;
animation-fill-mode: both;
border-radius: 30px;
transition-timing-function: ease-in;
}

.text1{
    position: absolute;
    padding: 30px;
    right: 5px;
    margin-top: 100px;
    width: 50%;
}
.part2{
    width: 100%;
    height: 500px;
    display: block;
    position: relative;
}

.text2{
    position: absolute;
    margin-left: 40px;
    margin-top: 100px;
    width: 46%;
}

.image2 img{
    position: absolute;
    right: 40px;
    margin-top: 100px;
    height: 400px;
    animation-duration: 1.5s;  
    animation-delay: 0s;
    animation-fill-mode: both;
    border-radius: 30px;
    transition-timing-function: ease-in;
}

                        /*footer*/

#footer{
    background-color: rgb(2, 0, 30);
    width: 100%;
    height: 300px;
    position: relative;
}
.contact{
    position: absolute;
    top: 218px;   
    width: 100%;
    text-align: center;
}
.contact a{
    font-size: 20px;
    cursor: pointer;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}
.footer-copyright{
    position: absolute;
    margin-top: 258px;
    color: white;
    width: 100%;
    text-align: center;
}

                         /*responsive*/

@media screen and (max-width:700px){
    body{animation: none;}
    .banner img{height: auto; width: 100%; animation: none;}
    .header{text-align: center; position: absolute;}
    .header .logo {text-align: center; width: 100%; margin-left: 0;}
    .roler{margin-right: 0; text-align: center;width: 100%;}
    .contenu{margin-bottom: 0;}
    .contenu img{display: none;}
    .contenu .text1{position: relative; width: 100%;}
    .contenu .text2{position: relative; width: 90%;}
    .banner .banner-content{position: relative; animation: none;}
    .contact{animation: none;}
    .footer-copyright{animation: none;}
    .modal-right p{font-size: 20px;}
}
@media screen and (max-width:1150px){
    body{animation: none;}
    .banner img{height: auto; width: 100%; animation: none;}
    .header{text-align: center; position: absolute;}
    .header .logo {text-align: center; width: 100%; margin-left: 0;}
    .roler{margin-right: 0; text-align: center;width: 100%;}
    .contenu{margin-bottom: 0;}
    .contenu img{display: none;}
    .contenu .text1{position: relative; width: 100%;}
    .contenu .text2{position: relative; width: 90%;}
    .banner .banner-content{position: relative; animation: none;}
    .contact{animation: none;}
    .footer-copyright{animation: none;}
    .header{position: absolute;}
    .window{margin-left: 0; width: 100%;}
}














